<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.email %>,</p>

    <p>We are sorry to inform you that your Lancelot payment for @contract.post.name has failed.</p>
    <br>
    <p>Please visit your Lancelot <a href="https://lancelot.herokuapp.com"> Billing Page </a> to update your payment information and to keep your project moving.</p> 
  
  </body>
</html>
