<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.email %>,</p>

    <p>Great news! You've been awarded a project on Lancelot. You'll have three days to accept the project before your award will be revoked and the project will be awarded to someone else.</p>
    <br>
    <p>Please visit your <%= @contract.post.name %>'s <a href="https://lancelot.herokuapp.com"> Contract Page </a> to accept the project and set up a contract.</p> 
  	<br>
  	<br>
  	<p>Happy working,<br> The Lancelot team</p>
  	
  </body>
</html>
