<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Welcome to Lancelot!

		Sign into your account anytime at

		https://lancelot.herokuapp.com

		If you have any questions about or problems with the service,
		please don't hesitate to email support@lancelot.com.
  </body>
</html>