<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.email %>,</p>

    <p>Reminder that you have a pending awarded project on Lancelot. You only have one day left to accept the project before your award will be revoked and the project will be awarded to someone else.</p>
    <br>
    <p>Please visit your <%= @contract.post.name %>'s <a href="https://lancelot.herokuapp.com"> Contract Page </a> to accept the project and set up a contract.</p> 
  
  </body>
</html>
