<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.email %>,</p>

    <p>Your Lancelot safe payment for <%= @contract.post.name %> is due. Once you've deposited it, your freelancer will be able to begin work on your project.</p>
    <br>
    <p>Please visit your Lancelot <a href="https://lancelot.herokuapp.com"> Billing Page </a> to set up your safe payment in order to keep your project moving.</p> 
  
  </body>
</html>
