<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.email %>,</p>

    <p>A freelancer has applied to your project <%= @contract.post.name %> on Lancelot.</p>
    <br>
    <p>To view all current applications, visit <a href="https://lancelot.herokuapp.com"> Application Page </a>.</p> 
  	<br>
  	<br>
  	<p>Happy managing,<br> The Lancelot team</p>
  	
  </body>
</html>
