<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.email %>,</p>

    <p>Your Lancelot safe payment for <%= @contract.post.name %> has succesfully processed. Your freelancer has been notified and can now begin work on your project!</p>
    <br>
  
  </body>
</html>
