<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.email %>,</p>

    <p>Lancelot has recieved your safe payment for @contract.post.name! You and can now begin work on your project!</p>
    <br>
    <br>
  	<p>Happy working,<br> The Lancelot team</p>
  </body>
</html>
